@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap");

body {
  background-image: url(assets/images/bg.jpg);
  background-size: cover;
}

main {
  margin-top: 100px;
}

.container {
  margin: 50px;
  padding-left: 50px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
}

header img {
  width: 15%;
  margin-left: 6em;
  margin-top: 35px;
}

#title {
  text-align: center;
  line-height: 50px;
}
#title h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

#title h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

#answerResult {
  display: flex;
  justify-content: center;
}

.correct {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrong {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 21.5px;
}

.titleInsideCircle h3 {
  font-size: 20px;
}
.titleInsideCircle {
  margin-bottom: 27px;
}

.pInsideCircle p {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  line-height: 1.2em;
}

.textInsideCircle {
  text-align: center;
  margin-bottom: 27px;
}

.titleInsideCircle h3 span {
  color: #00ffff;
}
/* #0c113b 15% */
#btnRate {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: transparent;
  border: 2px solid white;
  height: 3em;
  width: 11em;
  color: white;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

.firstLine {
  font-weight: 700;
}

.answer {
  font-size: 0.5em;
  font-weight: 200;
}
