@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  background-image: url(/assets/images/provadedio2.png);
  height: 100vh;
  width: 100vw;
  background-size: 100vw 100vh; 
  background-repeat: no-repeat;
  color: white;
}

img {
  width: 15vw;
  margin-left: 4vw;
  margin-top: 2vw;
}

main {
  margin-left: 6vw;
}

.container {
  margin: 0 auto;
  color: white;
  font-family: "Inter", sans-serif;
}

.title {
  width: 40%;
}

span {
  font-weight: 700;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 5vw;
  padding-top: 10vh;
  padding-bottom: 1.5vh;
}

h2 {
  font-family: "Outfit", sans-serif;
  color: #d20094;
  font-weight: 700;
  font-size: 2vw;
  padding-top: 1vw;
  padding-bottom: 2vh;
}

p {
  font-size: 1.2vw;
  line-height: 1.5vw;
}

ul {
  padding-top: 3em;
  padding-left: 2vw;
  line-height: 2.3vw;
  font-size:1.2vw
}

section {
  display: inline-block;
}

#form{
  display: inline-flex;
  align-items: center;
}

#check {
  display: inline-flex;
  align-items: center;
  padding-top: 5vw;
}

#check p {
  margin-left: 0.2vw;
  padding-right: 0;
}


#button {
  /* position: absolute;
  left: 60vw; */
  margin-left: 20vw;
  font-family: "Outfit", sans-serif;
  padding: 1em 3.5em;
  background-color: #00ffff;
  font-size: 1.3vw;
  font-weight: 700;
  border: 1px solid #00ffff;
  cursor: pointer;
  box-shadow: 1px 0px 14px 3px #00ffff;
  transition: 0.3s ease-out;
}

#button:hover {
  box-shadow: 1px 0px 28px 6px #00ffff;
}

.checkbox {
  display: inline-block;
  border: 2px solid white;
  width: 12px;
  height: 16px;
  margin-right: 0.7vw;
  background: transparent;
}

.clicked:focus {
  background-color: white;
}
