@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.jpg);
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: row-reverse; */
  font-family: "Outfit", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: 50px;
  margin-top: 30px;
  display: flex;
}
header {
  display: flex;
  justify-content: space-between;
}
header img {
  width: 10%;
  margin-left: 30px;
  /* /* display: flex; */
}
.skill {
  /* background-image: url(./assets/bg.jpg); */
  width: 160px;
  height: 160px;
  position: relative;
}
.outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* border: 1px solid red; */
  /* border: 20px solid azure; */
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(0, 0, 0, 0.7);
}

.inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(2, 2, 2, 0.7), -0.5px -0.5px 0px rgb(0, 0, 0),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#number {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}
circle {
  fill: none;
  stroke: #00ffff;
  /* stroke: #d20094; */
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim 60s linear backwards;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}
h3 {
  font-size: 0.7em;
}
h2 {
  font-size: 2.5em;
  padding: 3px;
}
