.container {
  width: 900px;
  margin: 0 auto;
  background-color: blueviolet;
  color: white;
  text-align: center;
}

.container h1 {
  text-align: center;
  font-size: 2em;
}

.cards {
  border: 1px solid black;
  display: inline-block;
  width: 400px;
  margin: 20px;
}

.container form {
  text-align: end;
}

button {
  margin: 20px;
  width: 90px;
}
