@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap");

body {
  background-image: url(../assets/images/ProvaDeDio.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.container {
  height: 100vh;
}
header img {
  width: 15vw;
  margin-left: 5vw;
  margin-top: 3vw;
}

.pform h3 {
  font-size: 1.9vw;
}

.rating {
  margin: auto;
}
main {
  color: white;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}
.text-container {
  margin-top: 6vw;
}
i {
  color: rgb(9, 15, 48);
  font-size: 3vw;
  margin-top: 2.5vw;
  margin-bottom: 6vw;
  padding-right: 1vw;
}

.lit {
  color: #00ffff;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 3vw;
  font-size: 5vw;
  margin-bottom: 2vw;
}
h3 {
  font-size: 2vw;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.comment {
  border-bottom: 2px solid pink;
  width: 100%;
  text-align: left;
}
.comment p {
  padding-left: 20px;
  padding-bottom: 12px;
  color: grey;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

input {
  border-color: transparent;
  background: transparent;
  border-bottom: 2px solid rgb(194 18 141);
  width: 55%;
  margin-top: 3.5vw;
  padding-left: 2vw;
  font-family: "Inter", sans-serif;
  color: white;
  padding-bottom: 1vw;
}
input:focus {
  outline: none;
}

#btnRate {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  width: 12.5vw;
  height: 3.5vw;
  padding: 0.5vw 1vw;
  background-color: #00ffff;
  font-size: 1.2vw;
  font-weight: 700;
  border: 1px solid #00ffff;
  box-shadow: 1px 0px 14px 3px #00ffff;
  transition: 0.3s ease-out;
  margin-top: 2.5vw;
  margin-bottom: 2vw;
}
#btnRate:hover {
  box-shadow: 1px 0px 28px 6px #00ffff;
}

button:hover {
  cursor: pointer;
}
