@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap");

body {
  background-image: url(/assets/images/provadedio2.png);
  height: 100vh;
  width: 100vw;
  background-size: 100vw 100vh; 
  background-repeat: no-repeat;
  color: white;
  font-family: "Outfit", sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 3vw;
  font-weight: 300;
  padding: 2vw;
}

.questions-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1vw auto;
}

.mode-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1vw auto;}

  #logo {
  width: 15vw;
  margin-left: 5vw;
  margin-top: 3vw;
}

.title-container {
  margin-top: 3vw;
}

.title-container span {
  font-weight: 700;
}

.difficulty {
  font-weight: 700;
}

input,
label {
  display: block;
  text-align: center;
  margin:0.4vw auto;
  font-size: 2vw;
  cursor: pointer;
}

input {
  visibility: hidden;
}

.questions-container div {
  width: 3vw;
  height: 3vw;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.questions-container div:hover {
  background-color: rgba(255, 255, 255, 0.531);
}

.diffSelect{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 9vw;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    padding-right: 3vw;
    padding-top:0.5px;
    padding-bottom: 0.5px;}
    


.mode-container div:hover {
  background-color: rgba(255, 255, 255, 0.531);
  /* box-shadow: 1px 0px 14px 3px rgb(40, 41, 82); */
}

button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 14vw;
  font-family: "Outfit", sans-serif;
  padding: 1vw;
  background-color: #00ffff;
  font-size: 1.5vw;
  font-weight: 700;
  border: 1px solid #00ffff;
  margin-top: 5vw;
  box-shadow: 1px 0px 14px 3px #00ffff;
  transition: 0.3s ease-out;
  cursor: pointer;
}

button:hover {
  box-shadow: 1px 0px 28px 6px #00ffff;
}

/* ANIMATION */

.spinner {
  position: absolute;
  top: 17.5vw;
  right: 42vw;
  height: 15vw;
  width: 15vw;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
  visibility: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.elements-hidden {
  display: none;
}